@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  padding: 4px;
  margin-right: 8px;
}


ul {
  /* Remove bullet point  */
  list-style: none;
}

li {
  margin: 12px 0;
}

.delete-button {
  font-size: 10px;
  margin-left: 8px;

  border: none;
  color: white;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}

.projects {
  width: 80%;
  margin: auto 10%;
  display: grid;
  /* display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap; */
  column-gap: 16px;
  row-gap: 32px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(32%, 1fr));
  text-align: left;
}

.projects .card {
  /* flex: 33%; */
}

.task_item {
  flex: 1 1 30%; /*grow | shrink | basis */
  height: 100%;
}

.task_item li {
  display: flex;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

button.btn.btn-primary.btn-lg {
  margin-top: 32px;
}

nav {
  background: #6565bb;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

nav a {
  color: white;
}

#login_link {
  float: right;
    margin: 16px;
}

#logo {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
}